# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/spaconet/domains/aplicacao.spaconett.com/public_html/whatsapp-api"
PassengerBaseURI "/whatsapp"
PassengerNodejs "/home/spaconet/nodevenv/domains/aplicacao.spaconett.com/public_html/whatsapp-api/20/bin/node"
PassengerAppType node
PassengerStartupFile index.js
PassengerAppLogFile "/home/spaconet/domains/aplicacao.spaconett.com/public_html/log.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END